{% extends 'base.html.twig' %}
{% block content %}
    <div class="post-preview">

        <h1 class="post-title">
            Bienvenue au Cocktail Storehouse
        </h1>
        <h2 class="post-subtitle">
            Tous les cocktails
        </h2>
        <hr>

        {% for cocktail in cocktails %}
            <div class="post-preview">
                <h2 href="" class="post-title">
                    {{ cocktail.nom }}
                </h2>
                <h3 class="post-subtitle">
                    {{ cocktail.description }}
                </h3>
                <h3 class="post-subtitle">
                    <p> Prix du cocktail : {{ cocktail.prix }} €</p>
                </h3>
                <h3 class="post-subtitle">
                    {{ cocktail.origine }}
                </h3>
                <hr>

            </div>
        {% endfor %}


    </div>
{% endblock %}