{% extends 'base.html.twig' %}
{% block content %}
    <div class="post-preview">

        <h2 class="post-title">
            Bienvenue au Cocktail Storehouse
        </h2>
        <h3 class="post-subtitle">
            Les mélanges les plus frais
        </h3>

    </div>
{% endblock %}